@import "../../variables.css";

.container {
  @media (--lg-down) {
    margin-bottom: var(--margin-md);
  }
}

.recipeSearchWrapper {
  display: flex;
  position: relative;
  padding-left: var(--margin-xl);
}

.recipeSearch {
  width: 100%;
}

.listBtn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--brand-primary);
  display: flex;
  align-items: center;
}

.listIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.divider {
  color: var(--muted);
  text-align: left;
  padding: var(--margin-sm);
}

.rborder {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  /* border: 1px solid #0ff; */
  /* border-color: var(--muted); */
}

.labels {
  line-height: 3;
  padding-left: 33px;
  font-weight: 500;
  padding-right: 33px;
}
.labelExplanation {
  /* padding-left: 33px; */
  color: #aaaaaa;
}

.ingredientsLabelTwo {
  display: flex;
}
.ingredientsLabel {
  display: flex;
  justify-content: space-between;
}

.icons {
  padding-right: 12px;
}

.ingredientsLabelTwo {
  /* position: absolute;
   left: 0;
  right: 0; */
}
@media only screen and (max-width: 400px) {
  .labels {
    padding-left: 0px;
  }
  
}
