@import '../../variables.css';

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);
  width: 100%;
  padding: var(--margin-md);

  @media (--sm-up) {
    margin-top: var(--margin-xl);
  }
}
