wheel
django-fernet-fields
django-cors-headers
django-crispy-forms
django-dbbackup
django-debug-toolbar
django-extensions
django-filter
django-filters
django-rest-swagger
Django-Select2
django-tagging
django-xmlrpc
djangorestframework
docutils
flake8
ipdb
jedi
Markdown
pkg-resources
pyactiveresource
pygal
pyparsing
python-gnupg
PyYAML
