@import "../../variables.css";

.header {
  box-shadow: 0 1px 2px 0 rgba(0, 39, 36, 0.1);
  background-color: var(--component-background);
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  z-index: var(--header-z-index);
  padding: 0 var(--margin-md);
  height: var(--header-height);
  line-height: var(--header-height);
  
}

.forMobileNav {
  display: none;
}
.currency > div {
  min-width: 60px !important;
}

.logo {
  /*center logo text */
  margin-top: -9px;

  @media (--xs-up) {
    height: 48px;
  }

  @media (--xs-down) {
    height: 34px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.rightMenu {
  & > * {
    padding-left: var(--margin-sm);

    &:not(:last-child) {
      padding-right: var(--margin-sm);
      border-right: 1px solid var(--border-color);
    }
  }
}

.accountIcon {
  margin-right: var(--margin-xs);
  font-size: 16px !important;
}

.username {
  @media (--xs-down) {
    display: none;
  }
}
/* edited CSS*/

.ant_menu_horizontal {
  border-bottom: 1px solid #ffffff !important;
}

.submenu-item {
  margin-top: 12px !important;
}

@media only screen and (max-width: 880px) {
  .forNav {
    display: none;
  }
  .forMobileNav {
    display: block;
  }
  .barsIcon {
    font-size: 24px;
  }
  .menuMobile {
    position: absolute;
    right: 0px;
    width: 40%;
    height: 100vh;
    top: 0px;
    transition: 0.4s ease-in-out;
  }
  .forMobileNav {
    display: grid;
  }
  /* .logo{
   height:34px;
 } */
  .currency {
    font-size: 12px;
  }
}
